.wishlist-item {
  &__container {
    padding: 2em;
    cursor: pointer;
    box-shadow: 0px 0px 10px grey;
    width: 90%;
    max-width: 40em;
    border-radius: 10px;
    margin-bottom: 1em;
    transition: all .2s ease;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  &__name::first-letter,
  &__private::first-letter {
    text-transform: uppercase;
  }
  &__name {
    font-weight: bold;
  }
}